// .swiper_slide {
// 	margin-right: 0;
// 	background-color: #fff;
// 	height: 200px;
// }

.mySwiper2 {
	width: 100%;
	height: 200px !important;
	background-color: #fff!important;
}

.mySwiper2 .swiper-slide {
	height: 200px !important;
	text-align: center;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mySwiper2 .swiper-slide-active {
	margin-right: 0 !important;
	height: 200px !important;
}
.mySwiper2 .swiper-slide img {
	display: block;
	width: 100%;
	//height: 100%;
	padding: 0 !important;
}
.swiper-button-prev,
.swiper-button-next {
	position: absolute;
	top: 30% !important;
	display: flex;
	margin: 1rem !important;
	background-color: transparent;
	padding: 20px !important;
	border: 1px solid #fff;
	border-radius: 100%;
	box-shadow: 0 0 15px 1px white;
	transition: all 0.5s ease 0s;

	&::after {
		color: white;
		opacity: 0.5;
		font-size: 1.5rem;
	}
	&:hover {
		box-shadow: 0 0 20px 5px white;
		&::after {
			opacity: 0.9;
		}
	}
}
