@import "/src/styles/index.scss";

.card {
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px 20px;

	.card__wrapper {
		@include fontType("AdventPro Bold", 24px, 1.2, gray);
		.card__title {
			width: fit-content;
			background-color: #05688f;
			padding: 10px 20px;
			h1 {
				text-transform: uppercase;
				color: #fff;
			}
		}

		.card__item {
			padding: 20px;
			border: 5px solid #05688f;
			margin-bottom: 20px;
			&_content {
			}
		}
		a {
			span {
				padding: 2px 10px;
				border: 1px solid #000;
				color: #fff;
				margin: 15px;

				&[name="list"] {
					background-color: blue;
				}
				&[name="edit"] {
					background-color: darkcyan;
				}
			}
		}
	}
}
