@import "/src/styles/index.scss";

.card {
	background-color: #fafafa;
	padding: 71px 0px 250px;

	.card__wrapper {
		position: relative;
		max-width: 1200px;
		margin: 0 auto;
		@include fontType("AdventPro Bold", 24px, 1.2, gray);
		background-color: #fff;
		min-height: 120vh;

		.card__buttons {
			position: fixed;
			top: 100px;
			left: 50px;
			display: flex;
			flex-direction: column;
			z-index: 20;
			a {
				margin: 10px;
				img {
					width: 50px;
					padding: 5px;
					border: 1px solid $menu-bg-color;
					border-radius: 150px;
					background: #e0e0e0;
					box-shadow:
						8px 8px 29px $menu-bg-color,
						-8px -8px 29px #ffffff;
					z-index: 200;
				}
				&:hover {
					border-radius: 150px;
					background: linear-gradient(145deg, #cacaca, #f0f0f0);
					box-shadow:
						6px 6px 19px $menu-bg-color,
						-8px -8px 29px #ffffff;
					img {
						opacity: 0.7;
					}
				}
				&:active {
					border-radius: 150px;
					background: #e0e0e0;
					box-shadow:
						inset 8px 8px 29px $menu-bg-color,
						inset -8px -8px 29px #ffffff;
					img {
						opacity: 0.6;
					}
				}
			}
		}

		.card__content {
			width: 100%;
			//background-color: yellow;
			padding: 20px;
			margin-bottom: 20px;
			.card__title {
				margin-bottom: 15px;
				h1 {
					text-transform: uppercase;
				}
			}
			.card__price {
				margin-bottom: 15px;
				@include fontType("AdventPro Bold", 1rem, 1.2, crimson);
			}

			.card__item {
				&_data {
					.data__info {
						display: flex;
						height: 100px;
						width: 100%;
						justify-content: start;
						@include fontType("AdventPro Regular", 1rem, 1.2, #000);
						&_block {
							flex: 0 0 50%;
							p {
								margin: 10px 0;
								span {
									font-weight: bold;
								}
							}
						}
					}
				}
			}
			.card__foto {
				display: flex;
				flex: 0 0 100%;
				height: 100px;
				justify-content: space-between;
			}
			.card__additions {
				padding-top: 20px;
				&_item {
					margin-top: 20px;

					h2 {
						@include fontType("AdventPro Regular", 20px, 1.2, crimson);
						text-transform: uppercase;
					}
					p {
						@include fontType("AdventPro Regular", 20px, 1.2, #000);
					}
				}
			}
		}
	}
}
