@import "/src/styles/index.scss";

.objects__list {
	width: 100%;
	background: #dddddd;
	min-height: 100vh;
	border-bottom: 1px solid #000;
	padding-bottom: 90px;

	&_wrapper {
		max-width: 1200px;
		margin: 0 auto;
		padding: 71px 0 20px;
		line-height: 1.5;
		font-size: 25px;
		background-color: #fefefe;
		h1 {
			text-transform: uppercase;
			text-align: center;
			@include fontType("AdventPro Bold", 36px, 1.2, gray);
		}
	}
	&_search {
		padding-bottom: 10px;
		background-color: #ededed;
		position: sticky;
		top: 71px;
		border-bottom: 1px solid #bababa;
		z-index: 10;
	}
	&_container {

	}
	&_cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1em;
	}
}

.object-link {
	background-color: #fefefe;

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 340px;
		height: 510px;
		border: 1px solid #dedede;
		padding: 0;
		margin: 20px 0;
		border-radius: 0;
		background: #fefefe;
		box-shadow:
			5px 5px 5px #dedede,
			-5px -5px 5px #ffffff;

		&_slider {
			cursor: pointer;
		}
		&_content {
			display: flex;
			height: 100%;
			flex-direction: column;
			justify-content: space-between;
			.content__text {
				padding: 15px;

				.title {
					height: 65px;
					@include fontType("AdventPro Bold", 1.5rem, 1.2, #474a4d);
					border-bottom: 1px solid #dddddd;
					margin-bottom: 5px;
				}
				.price {
					@include fontType("AdventPro Regular", 1.3rem, 1.2, gray);
					span {
						color: #d70427;
					}
				}
				.location {
					@include fontType("AdventPro Regular", 1.3rem, 1.2, gray);
					span {
						color: #d70427;
					}
				}
				.address {
					@include fontType("AdventPro Regular", 1.3rem, 1.2, gray);
					span {
						color: #d70427;
					}
				}
			}
		}

		&_btn {
			display: flex;
			justify-content: end;
			padding: 0 15px 15px 15px;

			a {
				width: fit-content;
				border: 1px solid #474a4d;
				border-radius: 3px;
				padding: 5px 10px;
				//background-color: #c5c3c6;
				@include fontType("Oswald Regular", 1rem, 1.5, #474a4d);
				span {
					text-transform: uppercase;
				}
				transition: all 600ms ease-in-out;
				&:hover {
					background-color: #474a4d;
					color: #fff;
				}
			}
		}
	}
}
