@import "../../styles/main";

.media__container {
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	text-align: center;
	background: url("/images/intro/intro.jpg") center /cover no-repeat;
	@media(max-width: 1100px) {

	}

	.audio__container {
		position: fixed;
		top: 10px;
		right: 10px;
		z-index: 10;

		@media(max-width: 767px) {
			transform: scale(0.8);
		}

		& button {
			width: 50px;
			border-radius: 50%;
			&.audio__red {
				background-color: red;
				transition: all 0.6s ease 0s;

				&:hover {
					box-shadow: 0 0 30px 2px lightcoral;
					border: 1px solid red !important;
				}
			}
			&.audio__green {
				background-color: green;
				transition: all 0.6s ease 0s;
				&:hover {
					box-shadow: 0 0 30px 2px lightgreen;
					border: 1px solid green !important;
				}
			}
		}
	}

	.video__container {
		border-right: 1px solid #ccc;
		border-left: 1px solid #ccc;
		width: 800px;
		min-height: 100vh;
		background: url("/images/intro/intro.jpg") center / cover no-repeat;
		box-shadow: 0 0 100px 5px rgba(255, 255, 255, 0.9);

		& video {
			//height: 99vh;
			//height: 100vh;
		}

		& img {
		}
	}
	.text__container {
		position: fixed;
		top: 30%;
		text-transform: uppercase;
		opacity: 0.9;
		@include fontType("Lobster", 5rem, 1.2, #ffe066);

		@media(max-width: 797px) {
			@include adaptive-font(60, 28, 797, 320);
		}

		h1 {
			letter-spacing: 4px;
			text-shadow: -0 -1px 5px #ff140c, 0 -1px 5px #ff140c, -0 1px 5px #ff140c, 0 1px 5px #ff140c, -1px -0 5px #ff140c,
			1px -0 5px #ff140c, -1px 0 5px #ff140c, 1px 0 5px #ff140c, -1px -1px 5px #ff140c, 1px -1px 5px #ff140c,
			-1px 1px 5px #ff140c, 1px 1px 5px #ff140c, -1px -1px 5px #ff140c, 1px -1px 5px #ff140c, -1px 1px 5px #ff140c,
			1px 1px 5px #ff140c;
		}
	}
	.button__container {
		display: flex;
		justify-content: space-between;
		width: 250px;
		position: fixed;
		bottom: 30%;
		a {
			display: flex;
			justify-content: center;
			align-items: center;

			width: 89px;
			height: 89px;
			box-shadow: 3px 4px 7px 0px rgba(52, 73, 68, 0.8);
			background: rgba(189, 187, 187, 0.64);
			border-radius: 50%;

			@media(max-width: 767px) {
				width: calc(#{40 + px} + #{49} * (100vw - #{320 + px}) / #{797});
				height: calc(#{40 + px} + #{49} * (100vw - #{320 + px}) / #{797});
			}
			&:hover {
				background: rgba(189, 187, 187, 0.99);
			}
			span {
				@include fontType("Bebas Neue Regular", 4rem, 1.2, #fffbf5);
				text-shadow: #e6e7e8 1px 2px 5px, #000 0px 1px 3px;
				@media(max-width: 797px) {
					@include adaptive-font(60, 28, 797, 320);
				}
			}
		}
	}
}
